@use 'sass:math';

:root {
	--title-font: 'Qanelas', sans-serif;
	--main-font: 'Qanelas', sans-serif;
	
	--accent: #01BC8C;
	--accent-hover: #018966;
	--accent-active: #007659;

	--white: #FFF;
	--black: #000;

	--primary: #0C131D;
	--primary-2: #010913;
	--primary-3: #000204;
	--secondary: #09242F;

	--container-padding: 1.25rem;
	--border-size: 0.0625rem;
}

html {
	font-size: 16px;
	min-height: 100%;
	min-width: 320px;

	background: var(--primary);
	scrollbar-color: var(--secondary) var(--primary-2);

	@media (min-width: 1920px) {
		font-size: 0.833333vw;
	}
}

body {

	min-height: 100%;
	min-width: 320px;

	font-family: var(--main-font);
	font-weight: 400;
	line-height: 150%;
	color: var(--white);

	background: var(--primary);

	display: flex;
	flex-direction: column;

	&::-webkit-scrollbar {
		background: var(--primary-2);
	}

	&::-webkit-scrollbar-track {
		background: var(--primary-2);
	}

	&::-webkit-scrollbar-thumb {
		background: var(--secondary);
		border-radius: 15px;
		border: 4px solid var(--primary-2);
	}

	&.is-mobile-menu-active {
		overflow: hidden;
		padding-right: var(--size-scrollbar);
	}
	
}

.image-aspect-ratio {
	width: 100%; height: auto;
	@supports (aspect-ratio: 1) {
		aspect-ratio: var(--aspect-ratio);
	}
}

section {
	position: relative;
	z-index: 2;
}

.wrapper {
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
}

.main {
	overflow: hidden;

	flex: 1 0 auto;
	position: relative;

	&.background-mode {
		padding-top: 1.4375rem; padding-bottom: 3.75rem;
		background: linear-gradient(180deg, #122032 0%, #0C1623 100%);

		@include _992 {
			padding-top: 5.625rem; padding-bottom: 6.25rem;
		}
	}
}

.container, section {
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);

	@media (min-width: #{$container}rem) {

		padding-left: max(var(--container-padding), calc(50% - #{math.div($container, 2)}rem));
		padding-right: max(var(--container-padding), calc(50% - #{math.div($container, 2)}rem));

		&.is-large {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($containerLarge, 2)}rem));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($containerLarge, 2)}rem));
		}
	}
}

.disable-container {
	padding-left: 0; padding-right: 0;
}


.visually-hidden {
	position: absolute;
	width: 1px; height: 1px;
	margin: -1px; padding: 0;
	border: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.visible-on-mob {
	@include _992 {
		display: none !important;
	}
}

.visible-on-desktop {
	@media (max-width: 991px) {
		display: none !important;
	}
}

[aria-hidden="true"] {
	pointer-events: none; user-select: none;
}

img.lazy {
	opacity: 0;
	transition: opacity .2s;

	&.loaded {
		opacity: 1;
	}
}
