.benefits {
	
	background: linear-gradient(180deg, #0D2531 0%, #060B0F 100%);
	padding-top: 3.6875rem; padding-bottom: 3.625rem;

	@include _992 {
		padding-top: 5.6875rem; padding-bottom: 5.875rem;
	}

	overflow: hidden;

	// .benefits__title

	&__title {
		position: relative;
		border-left: 0.125rem solid var(--accent);
		padding-left: 1.1875rem;

		@include _992 {
			border-left: 0;
			padding-left: 0;

			&::before {
				content: "";
				position: absolute;
				left: 0; bottom: 165%;
				width: 0.125rem; height: 5.6875rem;
				background: var(--accent);
			}
		}
	}

	// .benefits__list

	&__list {
		padding-top: 2.625rem;

		display: grid;
		gap: 1.25rem;

		@include _550 {
			grid-template-columns: 1fr 1fr;
		}

		@include _992 {
			gap: 2.5rem;
		}
	}

	// .benefits__card

	&__card {
	}

	// .benefits__note

	&__note {
		padding-top: 2.1875rem;

		display: flex;
		align-items: center;

		font-size: 1rem;
		line-height: 133.333333%;

		@include _992 {
			font-size: 1.5rem;
		}

		img {
			flex: 0 0 2.1875rem; width: 2.1875rem; height: 2.1875rem;
			margin-right: 1.25rem;
		}
	}
}

.benefits-card {

	background: var(--secondary);

	// .benefits-card__image

	&__image {

		img {
			width: 100%; height: 6.25rem;
			object-fit: cover;
		}
	}

	// .benefits-card__content

	&__content {
		color: var(--white);

		padding: 1.875rem 1.25rem;

		@include _992 {
			padding: 2.0625rem 2.625rem;
		}

		h3 {
			font-weight: 500;
			font-size: 1rem;
			line-height: 133.333333%;

			@include _992 {
				font-size: 1.5rem;
			}
		}

		p {
			padding-top: 1.1875rem;

			font-size: 0.875rem;
			line-height: 139%;
			color: rgba(255, 255, 255, 0.6);

			@include _992 {
				font-size: 1.125rem;
			}
		}
	}
}
