.thanks {

	min-height: calc(var(--svh,1vh)*100);
	min-height: 100svh;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	text-align: center;

	padding-top: 1.875rem; padding-bottom: 1.875rem;

	// .thanks__background

	&__background {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;

		z-index: -1;

		&::after {
			content: "";
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background: linear-gradient(180deg, rgba(18, 32, 50, 0.7) 32.36%, rgba(12, 22, 35, 0.7) 69.56%);
		}

		img {
			width: 100%; height: 100%;
			object-fit: cover;
		}
	}

	// .thanks__inner

	&__inner {
		width: 100%;
		@include _550 {
			display: flex;
			flex-direction: column;
		}
	}

	// .thanks__icon

	&__icon {
		width: 3.75rem; height: 3.75rem;
		user-select: none;

		@include _992 {
			width: 5.625rem; height: 5.625rem;
		}
	}

	// .thanks__title

	&__title {
		padding-top: 1.875rem;

		font-weight: 500;
		font-size: 2.25rem;
		line-height: 100%;
		text-transform: uppercase;

		@include _992 {
			font-size: 4.375rem;
		}
	}

	// .thanks__text

	&__text {
		padding-top: 1rem;
		font-size: 0.875rem;
		line-height: 150%;
		text-align: center;
		max-width: 13.125rem;
		margin: 0 auto;

		@include _992 {
			font-size: 1.5rem;
			max-width: 100%;
			margin: 0;
		}
	}

	// .thanks__button

	&__button {
		margin-top: 3.5rem;

		width: 100%;

		@include _550 {
			min-width: 18.75rem;
			align-self: center;
			width: auto;
		}

		@include _992 {
			margin-top: 4.5rem;
		}

		

	}
}
